@import 'variables';
@import 'reset';
@import 'typography';

body {
  background-color: $purple-0;
  color: navy;
  margin: 0 auto;
  clear: both;
  width: 100%;
}

a {
  text-decoration: none;

}


// .main-header {
//   width: 100%;
//   height: 80px;
//   background-color: lightblue;
// }

// .no-header{
//   height: 100%;
// }

.my-logo {
  
  border-radius: 50%;
  width: 32px;
  height: auto;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 10;

  @media only screen and (max-width: 450px){
    transition: width 1s;
    &:hover{
      box-shadow: 0 0 15px 15px rgba(255, 255, 204, 0.4);
    }
  }
  /*.my-logo-click{
    width: 50%;
  }*/

  @media only screen and (min-width: 451px){
    position: fixed;
    right: 5px;
    top: 10px;
    width: 50px;

    transition: transform 2s;

    &:hover{
      transform: rotate(-360deg);
      
    }

  }
  
}

.my-logo-click{
  @media only screen and (max-width: 450px){
    width: 50%
  }
}

.nav-button {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;

  a {
    color: black;
    background-color: $purple-1;
    padding: 0px 5px 0 5px;
    font-size: 28px;
    border: 1px solid white;
    &:hover {
      color: white;
      background-color: darken($purple-1, 10%);
    }
  }

  @media only screen and (min-width: 450px){
    display: none;
  }
}

.nav-bar {

  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: height 3s;

  background-color: lightgreen;

  // @media only screen and (max-width: 450px){
  //   display: none;
  // }

  ul {
    width: 100%;
    text-align: center;
  }

  li {
    display: block;
    border-bottom: 1px solid white;
    background-color: $purple-1;
  }

  a {
    display: block;
    background-color: $purple-1;
    color: black;
    padding: 9px;
    &:hover {
      background-color: darken($purple-1, 10%);
      color: white;
    }
  }

  @media only screen and (min-width: 451px) {
    transition: none;
    height: 30px;
    background-color: darkgreen;
    position: fixed;
    margin-top: 20px;

    ul {
      height: 30px;
      margin-top: 5px;
      text-align: left;
    }

    li {
      display: inline;
      border: 1px solid black;
    }

    a {
      display: inline;
      background-color: $purple-1;
      padding: 10px;
      &:hover {
        background-color: darken($purple-1, 10%);
        color: white;
      }
    }
  }
}

.nav-bar-show{
  height: 300px;
  background-color: inherit;
  overflow: hidden;
  position: absolute;
}

/*.showList {
  display: block;
  background-color: lightgreen;
  width: 100%;
  height: 30px;
  position: relative;

  ul {
    width: 100%;
    text-align: center;
  }

  li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid white;
    background-color: $purple-1;
  }

  a {
    display: block;
    background-color: $purple-1;
    color: black;
    padding: 9px;
    &:hover {
      background-color: darken($purple-1, 10%);
      color: white;
    }
  }
}*/

content {
  display: block;
  //position: absolute;
  clear: both;
  width:70%;
  margin: 10px auto auto auto;

}




.banner {
  display: block;
  width: 100%;
  height: 500px;
  background-color: lightgrey;
  background-image: url("../images/herobgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;


  img{
    width: inherit;
    height: inherit;
    position: center center;
  }

}




footer {
  background-color: lightblue;
  margin-top: 25px;

}

.contact-info {
  ul{
    padding: 10px;
  }
  li {
    font-weight: bold;
    text-align: center;

  }
}






















