ul {
  display: inline;
  list-style: none;
 
}
li {
  display: inline;
  position: relative;
  float: left;
}

.wrapper {
  height: 150px;
  width: 10000px;       //super hacky
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 0;
  position: absolute;
  //left: -152px;
  //transition: left 1s;
  //border: 1px solid green;
  //overflow: hidden;
}

.slide {
  width: 152px;
  height: 200px;
  //overflow: hidden;
  position: absolute;
  left:200px;
  border: 1px solid red;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  position: relative;
  transition: left 1s;
  /* display: inline; */
}

#imageA {
  left: 0;
  /*left: -152px;*/
}
#imageB {
  left: 0;
}
#imageC {
  left: 0;
}


.carousel-nav {
  background: grey;
  clear: both;
  //display: inline;
  position: relative;
  top: 170px;
}

#prev {
  float: left;
}
#next {
  float: right;
}


#A { background-color: red;}
#B { background-color: blue;}
#C { background-color: green;}
#D { background-color: yellow;}
#E { background-color: orange;}




