html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font: inherit;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

*,
*:before, *:after {
  box-sizing: border-box; }

/*--------------------------------------------------------*/
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  font-weight: 400; }

body {
  background-color: #f2e6ff;
  color: navy;
  margin: 0 auto;
  clear: both;
  width: 100%; }

a {
  text-decoration: none; }

.my-logo {
  border-radius: 50%;
  width: 32px;
  height: auto;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 10;
  /*.my-logo-click{
    width: 50%;
  }*/ }
  @media only screen and (max-width: 450px) {
    .my-logo {
      transition: width 1s; }
      .my-logo:hover {
        box-shadow: 0 0 15px 15px rgba(255, 255, 204, 0.4); } }
  @media only screen and (min-width: 451px) {
    .my-logo {
      position: fixed;
      width: 40px;
      transition: transform 2s; }
      .my-logo:hover {
        transform: rotate(-360deg); } }

@media only screen and (max-width: 450px) {
  .my-logo-click {
    width: 50%; } }

.nav-button {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 10; }
  .nav-button a {
    color: black;
    background-color: #e5ccff;
    padding: 0px 5px 0 5px;
    font-size: 28px;
    border: 1px solid white; }
    .nav-button a:hover {
      color: white;
      background-color: #cb99ff; }
  @media only screen and (min-width: 450px) {
    .nav-button {
      display: none; } }

.nav-bar {
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: height 1s, background-color 1s;
  background-color: rgba(242, 230, 255, 0.5);
  z-index: 10; }
  .nav-bar ul {
    width: 100%;
    text-align: center; }
  .nav-bar li {
    display: block;
    border-bottom: 1px solid white;
    background-color: rgba(242, 230, 255, 0.5); }
  .nav-bar a {
    display: block;
    background-color: rgba(242, 230, 255, 0.5);
    color: black;
    padding: 9px; }
    .nav-bar a:hover {
      background-color: rgba(203, 153, 169, 0.8);
      color: white; }
  @media only screen and (min-width: 451px) {
    .nav-bar {
      transition: none;
      transition: background-color 1s;
      height: 45px;
      position: fixed;
      margin-top: 0;
      padding-left: 15px; }
      .nav-bar ul {
        height: 30px;
        margin-top: 14px;
        text-align: left;
        background-color: transparent; }
      .nav-bar li {
        display: inline;
        background-color: transparent; }
      .nav-bar a {
        display: inline;
        background-color: transparent;
        padding: 10px; }
        .nav-bar a:hover {
          background-color: rgba(203, 153, 169, 0.8);
          color: white; } }

.nav-bar-show {
  height: 145px;
  background-color: inherit;
  overflow: hidden;
  position: absolute; }

.dark {
  background-color: #e5ccff; }

/*.showList {
  display: block;
  background-color: lightgreen;
  width: 100%;
  height: 30px;
  position: relative;

  ul {
    width: 100%;
    text-align: center;
  }

  li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid white;
    background-color: $purple-1;
  }

  a {
    display: block;
    background-color: $purple-1;
    color: black;
    padding: 9px;
    &:hover {
      background-color: darken($purple-1, 10%);
      color: white;
    }
  }
}*/
content {
  display: block;
  clear: both;
  width: 70%;
  margin: 10px auto auto auto; }

.hero-banner {
  display: block;
  width: 100%;
  height: 500px;
  background-color: lightgrey;
  background-image: url("../images/herobgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .hero-banner img {
    width: inherit;
    height: inherit;
    position: center center; }

.hero-text {
  position: absolute;
  left: 20%;
  top: 50%;
  width: 45%;
  height: auto;
  clear: both; }
  .hero-text h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: 400;
    color: white;
    display: inline;
    position: relative;
    float: left; }
  .hero-text h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: 400;
    color: white;
    display: inline;
    position: relative;
    float: right; }
  @media only screen and (min-width: 451px) {
    .hero-text {
      width: 205px; } }

.carousel {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  overflow: hidden; }
  .carousel ul {
    display: inline;
    list-style: none;
    width: 100%; }
  .carousel li {
    display: inline;
    position: absolute;
    width: 100%; }

.carousel-wrapper {
  height: 400px;
  width: 100%;
  position: absolute;
  overflow: hidden; }

.box {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  position: absolute;
  left: 112px;
  transition: left 1s; }

.right {
  left: 100%; }

.show {
  left: 0;
  z-index: 5; }

.left {
  left: -100%; }

.carousel-nav {
  background: grey;
  clear: both;
  position: relative;
  top: 180px;
  z-index: 10; }

.carousel-button {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 5px; }
  .carousel-button:hover {
    background-color: white;
    color: darkblue; }

#prev-button {
  float: left; }

#next-button {
  float: right; }

footer {
  background-color: lightblue;
  margin-top: 25px; }

.contact-info ul {
  padding: 10px; }

.contact-info li {
  font-weight: bold;
  text-align: center; }

.contact-info img {
  width: 34px;
  height: 34px; }

/*# sourceMappingURL=style.css.map */