
.col-container {
	clear: both;
	height: 500px;
}

.col {
  display: inline;
  text-align: center;
  position: relative;
}

.col-one-third {
  width: 33%;
  float: right;
}
.col-two-third {
  width: 67%;
  float: left;
}
.col-one-half {
	width: 50%;
	float: left;
}
.col-two-half {
	width: 50%;
	float: right;
}

@media only screen and (max-width: 450px) {
	.col{
		width: 100%;
		float: left;
	}
}