
/*------------------------------------*\
    Buttons
\*------------------------------------*/

/*
 * Styling for buttons
 */


// ---------- Button Structure ---------

.button {
  @include transition(opacity 0.3s ease);

  display: inline-block;
  padding: 1.5em;
  border: 0;
  outline: none;
  font: normal small-caps 14px 'Avenir Next LT W01 Bold', Helvetica, Arial, Sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: color('white');
  cursor: pointer;
  user-select: none;
}


// Button Positioning
.button-sunk {
  position: absolute;
  bottom: -27px;
  left: calc(50% - 130px);
  z-index: 2;
  width: 260px;
}

.button-wide {
  width: 100%;
}



//---------- Button Colours ---------

// Hollow Buttons
.button-hollow-white {
  opacity: 0.6;
  border: 2px solid color('white');
  color: color('white');

  &:hover {
    opacity: 1;
  }
}

.button-hollow-blue {
  opacity: 0.6;
  border: 2px solid color('nascent-blue');
  background: color('white');
  color: color('nascent-blue');

  &:hover {
    opacity: 1;
  }
}

.button-blue {
  background: color('nascent-blue');

  &:hover {
    background: darken(color('nascent-blue'), 5%);
  }
}

.button-grey {
  background: color('grey-lighter');
  color: color('grey-dark');

  &:hover {
    background: color('grey-light');
  }
}

.button-find-us {
  border-color: color('navy-grey');
  background-color: color('navy-grey');
}




//---------- Button Positioning/Alignment ---------

.button-centered {
  margin: 0 auto;
}

.title-button {
  margin-top: 40px;
}
